/* CSS for lower container and black containers */
.lower-container {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
}

.upper-container {
  position: relative;
  width: 100%;
  height: 600px; 
  overflow: hidden;
  padding-bottom: 20px;
}

.upper-image {
  width: 100%;
  height: 100%;
  background-image: url("./background.jpg");
  background-size: cover;
  background-position: center;
}

.container1 {
  background-color: #c6c9c7; 
  width: 550px;
  height: 300px;
  border-radius: 5%;
  overflow: hidden;
}
.picture1 {
width: 100%;
height: 180px;
border-top: 15%;

}
.container2 {
  background-color:  #c6c9c7; 
  width: 550px;
  height: 300px;
  border-radius: 5%;
  overflow: hidden;
}
.picture2 {
width: 100%;
height: 180px;
border-top: 15%;

}

.container3 {
  background-color:  #c6c9c7;  
  width: 550px;
  height: 300px;
  border-radius: 5%;
  overflow: hidden;
}
.picture3 {
width: 100%;
height: 180px;
border-top: 15%;

}





